@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap");

:root {
    --color-1: #e63946;
    --color-2: #f1faee;
    --color-3: #a8dadc;
    --color-4: #457b9d;
    --color-5: #1d3557;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

/* NAVEGADOR GENERAL */
nav {
    z-index: 10;
    background: var(--color-5);
    padding: 5px 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

ul {
    list-style-type: none;
}

.item-link {
    color: var(--color-2);
    text-decoration: none;
    cursor: pointer;
}
.item-link:hover {
    text-decoration: none;
    /* text-decoration: underline; */
    color: var(--color-2);
    border-radius: 8px;
    border: 2px solid var(--color-3);
}

.activado {
    color: var(--color-2);
    border-radius: 8px;
    border: 2px solid var(--color-3);
}

.logo a:hover {
    text-decoration: none;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-2);
}

/* MENU NAVEGADOR TOGGLE MOVILE*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

/* Navbar Toggle */
.toggle {
    cursor: pointer;
}
.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}
.bars:before,
.bars:after {
    background: #999;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.bars:before {
    top: 5px;
}
.bars:after {
    top: -5px;
}

/* MENÚ NAVEGADOR TABLET */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }
    .toggle {
        order: 2;
    }
}

/* MENÚ NAVEGADOR PC */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .menu li {
        padding: 15px 10px;
    }
}

/* CONFIGURACIONES DE INICIO - HEADER */
header {
    padding-top: 8%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-2);
}

header .contenedor-perfil {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
}

header div .perfil-texto {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    padding-bottom: 15px;
}

header h1 {
    font-weight: 400;
    font-size: 50px;
    padding-bottom: 10px;
}

header p {
    text-align: justify;
    font-weight: 200;
    font-size: 25px;
    padding-bottom: 12px;
}

header div .perfil-foto {
    width: 220px;
    height: 220px;
    border: 3px solid;
    border-radius: 100%;
    border-color: var(--color-4);
}

/* CONFIGURACIONES GENERALES DE SECCION */
section {
    height: 100vh;
    /* padding-top: 67px; */
}

/* 
	SKILLS
*/
#skills {
    background-color: var(--color-3);
}

.skills-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15%;
    font-weight: 400;
    font-size: 25px;
}

.skills-container {
    display: flex;
    height: 85%;
    justify-content: center;
    /* align-items: center; */
    top: 0;
}

.skills-lista {
    display: flex;
    height: 100%;
    padding: 20px;
    align-items: flex-start;
}

.skills-lista ul {
    width: 500px;
}

.skills-lista li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.skills-lista li:before {
    content: "";
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(54, 126, 223, 0.5);
    border-radius: 1000px;
}

.skills-lista li:after {
    content: "";
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: 0;
    height: 20px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.sk-html:after {
    animation-name: sk-html;
}

@keyframes sk-html {
    to {
        width: 90%;
    }
}

li.sk-css:after {
    animation-name: sk-css;
}

@keyframes sk-css {
    to {
        width: 60%;
    }
}

li.sk-js:after {
    animation-name: sk-js;
}

@keyframes sk-js {
    to {
        width: 84%;
    }
}

li.sk-jquery:after {
    animation-name: sk-jquery;
}

@keyframes sk-jquery {
    to {
        width: 75%;
    }
}

li.sk-php:after {
    animation-name: sk-php;
}

@keyframes sk-php {
    to {
        width: 80%;
    }
}

li.sk-android:after {
    animation-name: sk-android;
}

@keyframes sk-android {
    to {
        width: 65%;
    }
}

li.sk-java:after {
    animation-name: sk-java;
}

@keyframes sk-java {
    to {
        width: 87%;
    }
}

li.sk-sql:after {
    animation-name: sk-sql;
}

@keyframes sk-sql {
    to {
        width: 80%;
    }
}

li.sk-angular:after {
    animation-name: sk-angular;
}

@keyframes sk-angular {
    to {
        width: 74%;
    }
}

li.sk-node:after {
    animation-name: sk-node;
}

@keyframes sk-node {
    to {
        width: 72%;
    }
}

li.sk-react:after {
    animation-name: sk-react;
}

@keyframes sk-react {
    to {
        width: 56%;
    }
}

li.sk-git:after {
    animation-name: sk-git;
}

@keyframes sk-git {
    to {
        width: 77%;
    }
}

/* 
	PORTAFOLIO
*/
#portafolio {
    background: var(--color-4);
}
/* ARREGLAR PADDING */

.portafolio-container {
    display: flex;
    width: 100%;
    height: 85%;
    padding: 0 1rem 2rem 1rem;
    justify-content: center;
}

.grid {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    gap: 1em;
}

.projects_card {
    background: var(--color-2);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
/* 	cursor: pointer; */

figure .imgweb {
    transition: all 500ms ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure .imgapp {
    transition: all 500ms ease-out;
    padding-left: 27%;
    width: 73%;
    height: 100%;
    object-fit: cover;
}

figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 53, 87, 0.75);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

figure:hover > .capa h3 {
    margin-top: 5%;
    margin-bottom: 10%;
}

figure .capa h3 {
    color: var(--color-2);
    font-weight: 400;
    margin-bottom: 35%;
    transition: all 500ms ease-out;
}

figure .capa a {
    color: var(--color-3);
    font-weight: 200;
    padding: 10px 15px;
    transition: 0.5;
    border: 1px solid var(--color-3);
    border-radius: 10%;
}

figure .capa ul li {
    color: var(--color-2);
    font-weight: 200;
    line-height: 1.5;
    position: relative;
    padding: 10px;
    display: inline-flex;
    transition: 0.5;
}

figure .capa ul {
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    margin: 25px 25px;
}

figure .ver {
    cursor: pointer;
}

/* MODAL */

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    margin-top: 2%;
    overflow-y: auto;
    width: 90%;
    height: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    transition: transform 0.6s;
    transform: translateY(0%);
    border-radius: 8px;
    align-items: center;
    background-color: var(--color-2);
}

.modal-texto {
    justify-content: center;
    width: 70%;
    padding-bottom: 45px;
}

.modal-titulo {
    font-weight: 600;
    font-size: 3rem;
    padding-top: 25px;
    color: var(--color-5);
}

.modal-descripcion {
    text-align: justify;
    font-weight: 200;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.modal-link {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--color-4);
    border-radius: 6px;
    border: 2px solid var(--color-5);
}
.modal-link:hover {
    text-decoration: none;
    color: var(--color-5);
    background-color: var(--color-3);
}

.close {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 5px;
    right: 5px;
    display: inline-block;
    background: var(--color-1);
    color: #fff;
    line-height: 35px;
    cursor: pointer;
    border-radius: 8px;
}

.modal-close {
    transform: translateY(150%);
}

.wrapperForDemo {
    width: 90%;
    height: 100%;
}

.web {
    width: 100%;
    height: 100%;
}

.app {
    width: 500px;
    height: 800px;
}

@media (max-width: 1080px) {
    header {
        padding-top: 15%;
    }
}

@media (max-width: 780px) {
    header {
        height: 100%;
        padding-top: 25%;
    }
    header .contenedor-perfil {
        width: 85%;
    }

    .modal {
        margin-top: 9%;
        width: 80%;
    }
    .modal-texto {
        width: 70%;
    }
    .modal-titulo {
        margin-top: 2%;
    }

    .skills-titulo {
        padding-top: 40px;
    }
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skills-lista {
        width: 300px;
    }

    .skills-lista:nth-child(1) {
        padding-bottom: 0px;
    }

    .skills-lista:nth-child(2) {
        margin-top: 0;
        padding-top: 0;
    }

    .skills-lista:nth-child(2) ul {
        position: relative;
        top: -40px;
    }
    section {
        height: 100%;
    }
}

@media (max-width: 560px) {
    header {
        height: 100%;
    }

    section {
        height: 100%;
    }

    .grid {
        /* si agregas más de 4 subes */
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, minmax(300px, auto));
    }
}

/* LOADER */
.lds-roller {
    /* display: flex; */
    /* position: relative; */
    width: 80px;
    height: 80px;
    z-index: 5;
    margin: auto auto;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
