@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

/* NAVEGADOR GENERAL */
nav {
	background: #222;
	padding: 5px 20px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
ul {
	list-style-type: none;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.logo a:hover {
	text-decoration: none;
}
.menu li {
	font-size: 16px;
	padding: 15px 5px;
	white-space: nowrap;
}
.logo a,
.toggle a {
	font-size: 20px;
}

/* MENU NAVEGADOR TOGGLE MOVILE*/
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.toggle {
	order: 1;
}
.item {
	width: 100%;
	text-align: center;
	order: 3;
	display: none;
}
.item.active {
	display: block;
}

/* Navbar Toggle */
.toggle {
	cursor: pointer;
}
.bars {
	background: #999;
	display: inline-block;
	height: 2px;
	position: relative;
	transition: background 0.2s ease-out;
	width: 18px;
}
.bars:before,
.bars:after {
	background: #999;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
}
.bars:before {
	top: 5px;
}
.bars:after {
	top: -5px;
}

/* MENÚ NAVEGADOR TABLET */
@media all and (min-width: 468px) {
	.menu {
		justify-content: center;
	}

	.logo {
		flex: 1;
	}
	.toggle {
		order: 2;
	}
}

/* MENÚ NAVEGADOR PC */
@media all and (min-width: 768px) {
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	.logo {
		order: 0;
	}
	.item {
		order: 1;
	}
	.menu li {
		padding: 15px 10px;
	}
}

/* CONFIGURACIONES DE INICIO - HEADER */
header {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: aquamarine;
}

header .contenedor-perfil {
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	width: 55%;
	align-items: center;
	justify-content: center;
}

header div .perfil-texto {
	padding-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header h1 {
	font-weight: 400;
	font-size: 70px;
	padding-bottom: 15px;
}

header p {
	text-align: justify;
	font-weight: 200;
	font-size: 30px;
	padding-bottom: 10px;
}

header div .perfil-foto {
	width: 220px;
	height: 220px;
	border-radius: 50%;
}

/* CONFIGURACIONES GENERALES DE SECCION */
section {
	height: 100vh;
}

#portafolio {
	display: flex;
	justify-content: center;
	padding: 2rem 1rem;
	background: #181818;
}
/* ARREGLAR PADDING */

.grid {
	padding-top: 100px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 25%);
	grid-template-rows: repeat(2, 40%);
	justify-content: center;
	gap: 1em;
}

.projects_card {
	background: #f7f7f7;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
}

figure {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
/* 	cursor: pointer; */

figure .imgweb {
	transition: all 500ms ease-out;
	width: 100%;
	height: 100%;
}

figure .imgapp {
	transition: all 500ms ease-out;
	padding-left: 27%;
	width: 73%;
	height: 100%;
}

figure .capa {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(11, 103, 123, 0.75);
	transition: all 500ms ease-out;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

figure:hover > .capa {
	opacity: 1;
	visibility: visible;
}

figure:hover > .capa h3 {
	margin-top: 8%;
	margin-bottom: 15%;
}

figure .capa h3 {
	color: #fff;
	font-weight: 400;
	margin-bottom: 35%;
	transition: all 500ms ease-out;
}

figure .capa a {
	color: #fff;
	font-weight: 200;
	padding: 10px 15px;
	transition: 0.5;
	border: 1px solid #fff;
	border-radius: 10%;
}

figure .capa ul li {
	color: #fff;
	font-weight: 200;
	line-height: 1.5;
	position: relative;
	padding: 10px;
	display: inline-flex;
	transition: 0.5;
}

figure .capa ul {
	box-sizing: border-box;
	list-style-type: none;
	text-align: center;
	margin: 25px 25px;
}

figure .ver {
	cursor: pointer;
}

/* MODAL */
.modal-texto {
	justify-content: center;
}

.modal-container {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 90%;
	height: 85%;
	background: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	transition: transform 0.6s;
	transform: translateY(0%);
	border-radius: 8px;
	align-items: center;
	background-color: aquamarine;
}

.close {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 5px;
	right: 5px;
	display: inline-block;
	background: #c44a4a;
	color: #fff;
	line-height: 25px;
	cursor: pointer;
	border-radius: 8px;
}

.modal-close {
	transform: translateY(150%);
}

.wrapperForDemo {
	width: 500px;
	height: 500px;
	max-height: 80%;
	max-width: 80%;
	margin: 0 auto;
}
