@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700;800&display=swap");

:root {
    --color-1: #e63946;
    --color-2: #f1faee;
    --color-3: #a8dadc;
    --color-4: #457b9d;
    --color-5: #1d3557;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

/* NAVEGADOR GENERAL */
nav {
    z-index: 10;
    background: var(--color-5);
    padding: 5px 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
ul {
    list-style-type: none;
}
a {
    color: var(--color-2);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
.logo a,
.toggle a {
    font-size: 20px;
}

/* MENU NAVEGADOR TOGGLE MOVILE*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

/* Navbar Toggle */
.toggle {
    cursor: pointer;
}
.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}
.bars:before,
.bars:after {
    background: #999;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
.bars:before {
    top: 5px;
}
.bars:after {
    top: -5px;
}

/* MENÚ NAVEGADOR TABLET */
@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }
    .toggle {
        order: 2;
    }
}

/* MENÚ NAVEGADOR PC */
@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .menu li {
        padding: 15px 10px;
    }
}

/* CONFIGURACIONES DE INICIO - HEADER */
header {
    padding-top: 8%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-2);
}

header .contenedor-perfil {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: center;
}

header div .perfil-texto {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    padding-bottom: 15px;
}

header h1 {
    font-weight: 400;
    font-size: 50px;
    padding-bottom: 10px;
}

header p {
    text-align: justify;
    font-weight: 200;
    font-size: 25px;
    padding-bottom: 12px;
}

header div .perfil-foto {
    width: 220px;
    height: 220px;
    border: 3px solid;
    border-radius: 50%;
    border-color: var(--color-3);
}

/* CONFIGURACIONES GENERALES DE SECCION */
section {
    height: 100vh;
}

#portafolio {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    background: var(--color-3);
}
/* ARREGLAR PADDING */

.grid {
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: repeat(2, 50%);
    justify-content: center;
    gap: 1em;
}

.projects_card {
    background: var(--color-2);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
/* 	cursor: pointer; */

figure .imgweb {
    transition: all 500ms ease-out;
    width: 100%;
    height: 100%;
}

figure .imgapp {
    transition: all 500ms ease-out;
    padding-left: 27%;
    width: 73%;
    height: 100%;
}

figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 53, 87, 0.75);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

figure:hover > .capa h3 {
    margin-top: 8%;
    margin-bottom: 15%;
}

figure .capa h3 {
    color: var(--color-2);
    font-weight: 400;
    margin-bottom: 35%;
    transition: all 500ms ease-out;
}

figure .capa a {
    color: var(--color-3);
    font-weight: 200;
    padding: 10px 15px;
    transition: 0.5;
    border: 1px solid var(--color-3);
    border-radius: 10%;
}

figure .capa ul li {
    color: var(--color-2);
    font-weight: 200;
    line-height: 1.5;
    position: relative;
    padding: 10px;
    display: inline-flex;
    transition: 0.5;
}

figure .capa ul {
    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    margin: 25px 25px;
}

figure .ver {
    cursor: pointer;
}

/* MODAL */

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    margin-top: 2%;
    overflow-y: auto;
    width: 90%;
    height: 85%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    transition: transform 0.6s;
    transform: translateY(0%);
    border-radius: 8px;
    align-items: center;
    background-color: var(--color-2);
}

.modal-texto {
    justify-content: center;
    width: 85%;
}

.modal-titulo {
    font-weight: 400;
    font-size: 3rem;
    padding-top: 15px;
}

.modal-descripcion {
    text-align: justify;
    font-weight: 200;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    display: inline-block;
    background: var(--color-1);
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 8px;
}

.modal-close {
    transform: translateY(150%);
}

.wrapperForDemo {
    width: 90%;
    height: 100%;
}

.img-galeria {
    width: 100%;
    height: 100%;
}

@media (max-width: 1080px) {
    header {
        padding-top: 15%;
    }
}

@media (max-width: 780px) {
    header {
        padding-top: 25%;
    }
    header .contenedor-perfil {
        width: 85%;
    }

    .modal {
        margin-top: 9%;
    }
    .modal-texto {
        width: 90%;
    }
    .modal-titulo {
        margin-top: 2%;
    }
}

@media (max-width: 560px) {
    header {
        height: 100%;
    }

    section {
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(3, minmax(300px, auto));
    }
}

@media (min-height: 800px) {
    header {
        height: 100%;
    }
}

/* LOADER */
.lds-roller {
    /* display: flex; */
    /* position: relative; */
    width: 80px;
    height: 80px;
    z-index: 5;
    margin: auto auto;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: black;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
